.profile {
    display: flex;
    flex-direction: column;
}

.field {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    border-bottom: 1px solid var(--gray);
}

.field:last-of-type {
    border-color: transparent;
}

.field-title {
    text-transform: capitalize;
    font-weight: bold;
    font-size: 16px;
}

.field-options {
    display: flex;
    gap: 20px;
}
